:host {
  display: block;
}

.ims-input-wrapper {
  //margin-top: 0.7rem;

  .required {
    color: red !important;
  }

  .p-inputgroup {
    width: 100%;
  }

  .p-inputgroup-addon {
    display: flex;
    align-items: center;
  }
}

input.ng-invalid.ng-dirty {
  border-color: red !important;
}