<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!--
<div class="topbar-start">
  <button
    #menubutton
    type="button"
    class="topbar-menubutton p-link p-trigger"
    (click)="onMenuButtonClick()"
  >
    <i class="pi pi-bars"></i>
  </button>
  <app-breadcrumb class="topbar-breadcrumb"></app-breadcrumb>
</div>
<div class="ml-auto mr-0 layout-topbar">
  <div class="ml-auto topbar-end">
    <ul class="topbar-menu">
      <li class="topbar-language">
        <button
          class="language-button p-button-rounded"
          (click)="toggleDropdown()"
        >
          <i class="pi pi-globe"></i>
          <span>{{ selectedLanguage }}</span>
        </button>
        <ul class="language-dropdown" [class.show]="dropdownVisible">
          <li (click)="changeLanguage('es')">Español</li>
        </ul>
      </li>
      <li class="topbar-profile">
        <button type="button" class="p-link" (click)="onProfileButtonClick()">
          <img src="assets/layout/images/avatar.png" alt="Profile" />
        </button>
      </li>
    </ul>
  </div>
</div>
 -->
