<div
  *ngIf="menuVisible"
  class="layout-sidebar"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="sidebar-header">
    <div class="profile-container">
      <img
        src="assets/layout/images/avatar.png"
        alt="Profile"
        class="profile-image"
      />
      <div class="profile-name">{{ nombreUsuario }}</div>

      <div>
        <p-knob
          [(ngModel)]="knobValue"
          valueTemplate="{value}%"
          [readonly]="true"
          [strokeWidth]="2"
          [size]="90"
        ></p-knob>
      </div>
      <p class="text-center">Progreso</p>
    </div>
  </div>

  <div #menuContainer class="layout-menu-container">
    <app-menu></app-menu>
  </div>

  <div class="logout-container">
    <button
      pButton
      type="button"
      label="Cerrar Sesión"
      icon="pi pi-power-off"
      (click)="logout()"
      class="p-button-danger"
    ></button>
  </div>
</div>
