.layout-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.progress-text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.logout-container {
  margin-bottom: 20px;
  text-align: center;
}

.p-button-danger {
  background-color: #f44336 !important;
  border-color: #f44336 !important;
}

.p-button-danger:hover {
  background-color: #d32f2f !important;
  border-color: #d32f2f !important;
}