<div class="login-design h-100">
  <p-toast></p-toast>
  <div
    class="waves"
    style="background-image: url('./assets/layout/images/login.png')"
  ></div>
  <div class="login-data">
    <div
      class="img-mobil"
      style="
        visibility: hidden;
        width: 100%;
        height: 200px;
        background-image: url('./assets/layout/images/login.png');
      "
    ></div>
    <form>
      <h1>¡Bienvenido!</h1>
      <p>Ingresa tus datos para acceder</p>
      <div class="input-group" style="position: relative">
        <h3>Usuario</h3>
        <input
          pInputText
          type="email"
          name="email"
          placeholder="Ingresa tu usuario"
          required
          [(ngModel)]="email"
        />
      </div>
      <div class="input-group" style="position: relative">
        <h3>Contraseña</h3>
        <input
          pInputText
          #refPassword
          [type]="viewPassword ? 'text' : 'password'"
          name="password"
          placeholder="Ingresa tu contraseña"
          required
          [(ngModel)]="password"
        />
        <img
          *ngIf="viewPassword"
          src="./assets/layout/icons/eye.svg"
          (click)="viewPassword = !viewPassword"
          alt="Show Password"
          style="
            position: absolute;
            right: 12px;
            bottom: 14px;
            cursor: pointer;
            z-index: 3;
            width: 20px;
            height: 20px;
          "
        />
        <img
          *ngIf="!viewPassword"
          src="./assets/layout/icons/eye-slash.svg"
          (click)="viewPassword = !viewPassword"
          alt="Hide Password"
          style="
            position: absolute;
            right: 12px;
            bottom: 14px;
            cursor: pointer;
            z-index: 3;
            width: 20px;
            height: 20px;
          "
        />
      </div>
      <div style="text-align: right !important; margin-top: 10px">
        <a routerLink="#">¿Olvidaste tu contraseña?</a>
      </div>
      <div class="ingresar">
        <button (click)="login()" class="btn-login mb-4">Iniciar Sesión</button>
      </div>
      <div class="register" style="text-align: center">
        <p style="font-size: 14px">
          ¿Todavía no tienes una cuenta?<a routerLink="/register">
            Crea una cuenta</a
          >
        </p>
      </div>
    </form>
  </div>
</div>
